* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --text-color: #e63946;
  --hover-color: #b73227;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/donate3.jpg)
    no-repeat center/cover;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);
}

.login-box {
  position: relative;

  background: #fff;

  padding: 40px;

  border-radius: 12px;

  width: 350px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  z-index: 1;

  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #0d1b2a;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;

  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: var(--text-color);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.submit a{
  color: white;
  text-decoration: none;
}

.login-box button:hover {
    opacity: 0.7;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 0 15px 0;
  font-size: 14px;
  color: #555;
}

.options a {
  text-decoration: none;
  color: #00bfff;
}

.options a:hover {
  text-decoration: underline;
}
.check{
  justify-content: space-between;
  max-width: fit-content;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 6px;
  white-space: nowrap;
}
.social-login {
  margin: 20px 0;
}

.social-login button {
  width: 100%;
  padding: 12px;
  border: none;
  margin: 8px 0;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.google {
  background: var(--text-color);
}

.facebook {
  background: #4267b2;
}

.google:hover {
  background: var(--hover-color);
}

.facebook:hover {
  background: var(--hover-color);
}

.signup-link {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.signup-link a {
  text-decoration: none;
  color: #00bfff;
}

.signup-link a:hover {
  text-decoration: underline;
}
