*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #f2f2f2;
  padding: 0 10px;
}
#account-form{
 max-width: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-transform: capitalize;
  margin-top: 20px;
}

:root{
  --text-color: #e63946;
}
.signup-section h1 {
  color:var(--text-color);
  font-size: 2rem;
  margin-bottom: 1.1rem;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
}
.signup-section p {
  font-size: 1.08rem;
  margin-bottom: 1.2rem;
  color: #333;
  line-height: 1.7;
}

.input-group{
  margin: 15px 0;
  position: relative;
}
.input-group label{
  display: inline-block;
  margin-bottom: 5px;
}
.input-group input{
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font-size: 17px;
  outline: none;
}
.input-group input:focus{
  outline: none;
  border: 2px solid #777;
}
i{
  position: absolute;
  right: 10px;
  top: 40px;
  opacity: 0;
}
.input-group.success input{
  border: 2px solid green;
}
 .success i.fa-check-circle{
  color: rgb(69, 200, 69);
  opacity: 1;
}
.error input{
  border: 2px solid red;
}
.error i.fa-exclamation-circle{
  opacity: 1;
  color: red;
}
.input-group.error p{
  display: block;
}
.input-group p{
  margin-top: 5px;
  font-size: 15px;
  color: red;
  display: none;
}
button{
  width: 100%;
  height: 40px;
  border: none;
  background: var(--text-color);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}
button:hover{
  opacity: 0.7;
}

@media (max-width: 700px) {
  .signup-section {
    padding: 1.2rem 0.5rem 1rem 0.5rem;
    margin: 1.2rem auto;
    font-size: 0.98rem;
  }
  .signup-section h1 {
    font-size: 1.3rem;
  }
  .signup-form input {
    font-size: 0.98rem;
  }
  .signup-form button {
    font-size: 0.98rem;
  }
}

.signup-link{
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}
.signup-link a{
  color: #00bfff;
   text-decoration: none;
   transition: text-decoration 0.3s ease;
}

.signup-link a:hover{
  text-decoration: underline;
}